[submodule "themes/PaperMod"]
	path = themes/PaperMod
	url = https://github.com/adityatelange/hugo-PaperMod.git
[submodule "content/posts/git"]
	path = content/posts/git
	url = git@github.com:arthurgousset/git.git
[submodule "content/posts/typescript"]
	path = content/posts/typescript
	url = git@github.com:arthurgousset/typescript.git
[submodule "content/posts/latex"]
	path = content/posts/latex
	url = git@github.com:arthurgousset/latex.git
[submodule "content/posts/javascript"]
	path = content/posts/javascript
	url = git@github.com:arthurgousset/javascript.git
[submodule "content/posts/jest"]
	path = content/posts/jest
	url = git@github.com:arthurgousset/jest.git
[submodule "content/posts/foundry"]
	path = content/posts/foundry
	url = git@github.com:arthurgousset/foundry.git
